@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000073;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-alessio-cesario-975080-1906795.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}

div#formulario{
    padding: 10px;
    text-align: center;
}
#formulario > p{
font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

div > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
label{
    display: none;
}

div > input[type=submit]:hover{
    background-color: #21504e;
} 

div > a.botao{
    display: block;
    font-size: 1em;
    background-color: white;
    text-decoration: none;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #00000065;
    color: #21504e;
    padding-top: 7px;
    margin-top: 10px;
}
div > a.botao:hover{
    background-color: #5fceca;
    transition: 1s;
}

div > a.botao > span{
    font-size: 1em;
}