@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 85vw;
        height: 300px;
    }
    div#imagem{
        float: left;
        height: 100%;
        width: 30%;
    }
    #formulario > p{
        font-size: 1em;
        }

    div > input[type=submit]{
        float: right;
        width: 70%;
    }

    div > a.botao{
        width: 70%;
        float: right;
    }
    div.campo > input{
        background-color: #81c0be;
        font-size: 1em;
        width: calc(71% - 48.5px);
        height: 100%;
        border-radius: 8px;
        border: none;
        padding: 6px;
        transform: translateY(-13px);
    }
}
@media screen and (min-width: 992px){
   body{ background-image: linear-gradient(to top, #49a09d, #5f2c82);
   }
    section#login{
        width: 950px;
        height: 350px;
    }
    div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario > p{
        font-size: 1em;
        }
        div > input[type=submit]{
            float: right;
            width: 50%;
        }
    
        div > a.botao{
            width: 50%;
            float: right;
        }
        div.campo > input{
            background-color: #81c0be;
            font-size: 1em;
            width: calc(50% - 45px);
            height: 100%;
            border-radius: 8px;
            border: none;
            padding: 6px;
            transform: translateY(-13px);
        }
}